# Business Understanding

# Data Understanding

The data is sourced from [This GitHub Repository](https://github.com/learn-co-curriculum/dsc-project-template/tree/template-mvp/zippedData). You can clone this repository down, rename the "zippedData" folder to "Data". Place it in the root directory of this repo.

In [4]:
# Import standard packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [5]:
# Here you run your code to explore the data
import sqlite3
conn = sqlite3.connect("Data/im.db")

### DataFrame created from relevant imdb data:

In [6]:
imdb_df = pd.read_sql_query("""
                            SELECT 
                                mb.movie_id,
                                mb.primary_title, 
                                mb.genres, 
                                kf.person_id, 
                                p.primary_name,
                                p.primary_profession
                            FROM movie_basics mb
                            JOIN known_for kf
                                USING(movie_id)
                            JOIN persons p
                                USING(person_id)
                            ;
                         
                            """, conn)
imdb_df

,movie_id,primary_title,genres,person_id,primary_name,primary_profession
0,tt0063540,Sunghursh,"Action,Crime,Drama",nm1194313,Mahasweta Devi,writer
1,tt0063540,Sunghursh,"Action,Crime,Drama",nm1391276,Anjana Rawail,"writer,costume_designer"
2,tt0069049,The Other Side of the Wind,Drama,nm0000953,Peter Bogdanovich,"actor,director,writer"
3,tt0069049,The Other Side of the Wind,Drama,nm0462648,Oja Kodar,"actress,writer,director"
4,tt0069049,The Other Side of the Wind,Drama,nm0600800,Leslie Moonves,"actor,executive,producer"
...,...,...,...,...,...,...
791001,tt9916754,Chico Albuquerque - Revelações,Documentary,nm9272490,Angela Gurgel,"director,writer"
791002,tt9916754,Chico Albuquerque - Revelações,Documentary,nm9272491,Ana Célia de Oliveira,"producer,director,writer"
791003,tt9916754,Chico Albuquerque - Revelações,Documentary,nm9272748,Cristiano Freitas,"cinematographer,camera_department"
791004,tt9916754,Chico Albuquerque - Revelações,Documentary,nm9275317,Fábio Ferraz,cinematographer
791005,tt9916754,Chico Albuquerque - Revelações,Documentary,nm9275320,Daniel Cardoso,"editor,animation_department,cinematographer"

In [8]:
tn_movie_budgets = pd.read_csv("Data/tn.movie_budgets.csv")
tn_movie_budgets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

### Movie budget data:

In [9]:
tn_movie_budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [10]:
tn_movie_budgets['movie'].value_counts()

Halloween                    3
King Kong                    3
Home                         3
Carrie                       2
Poltergeist                  2
                            ..
Resident Evil: Apocalypse    1
Evil Dead II                 1
127 Hours                    1
Step Up Revolution           1
The Fighter                  1
Name: movie, Length: 5698, dtype: int64

In [11]:
tn_movie_budgets.isna().sum()

id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

In [ ]:
imdb_df = pd.read_sql_query("""
                            SELECT 
                                mb.movie_id,
                                mb.primary_title, 
                                mb.genres, 
                                kf.person_id, 
                                p.primary_name,
                                p.primary_profession
                            FROM movie_basics mb
                            JOIN known_for kf
                                USING(movie_id)
                            JOIN persons p
                                USING(person_id)
                            ;
                         
                            """, conn)
imdb_df

## Data Preparation

For data representing money, I removed the dollar signs and commas within the values and converted them into integers to be able to work with them later.

In [ ]:
tn_movie_budgets['worldwide_gross'] = tn_movie_budgets['worldwide_gross'].str.replace('$', '')
tn_movie_budgets['worldwide_gross'] = tn_movie_budgets['worldwide_gross'].str.replace(',', '')
tn_movie_budgets['worldwide_gross'] = tn_movie_budgets['worldwide_gross'].astype(int)

In [ ]:
tn_movie_budgets['production_budget'] = tn_movie_budgets['production_budget'].str.replace('$', '')
tn_movie_budgets['production_budget'] = tn_movie_budgets['production_budget'].str.replace(',', '')
tn_movie_budgets['production_budget'] = tn_movie_budgets['production_budget'].astype(int)

In [ ]:
tn_movie_budgets.drop(columns=["domestic_gross"], inplace=True)

In [ ]:
tn_movie_budgets.head()

### Feature Engineering

I created a profit feature that represents the total worldwide gross value for a movie, minus its initial budget to see how profitable the movie was overall. Then, I dropped any unnecessary columns.

In [ ]:
tn_movie_budgets['profit'] = tn_movie_budgets.apply(lambda x: x['worldwide_gross'] - x['production_budget'], axis=1)
tn_movie_budgets.head()

In [ ]:
tn_movie_budgets.drop(columns=["release_date"], inplace=True)
tn_movie_budgets.drop(columns=["production_budget"], inplace=True)
tn_movie_budgets.drop(columns=["worldwide_gross"], inplace=True)

In [ ]:
tn_movie_budgets.head()

For the imdb data, I split the genres by comma to list them individually in separate columns to asses which genres were more or less common later on:

In [ ]:
genres_split = imdb_df['genres'].str.split(',', expand=True).add_prefix('genre_')

In [ ]:
imdb_df = pd.concat([imdb_df, genres_split], axis=1)
imdb_df.head()

In [ ]:
imdb_genres = pd.DataFrame([imdb_df.primary_title, imdb_df.genre_0, imdb_df.genre_1, imdb_df.genre_2]).transpose()
imdb_genres.head

In [ ]:
imdb_genres.rename(columns={'primary_title' : 'Movie_Title'}, inplace=True)
imdb_genres.rename(columns={'genre_0' : 'Primary_Genre'}, inplace=True)
imdb_genres.rename(columns={'genre_1' : 'Secondary_Genre'}, inplace=True)
imdb_genres.rename(columns={'genre_2' : 'Tertiary_Genre'}, inplace=True)

In [ ]:
imdb_genres

In [ ]:
imdb_known_by = pd.DataFrame([imdb_df.primary_title, imdb_df.primary_name, imdb_df.primary_profession]).transpose()
imdb_known_by

In [ ]:
imdb_and_genres = tn_movie_budgets.join(imdb_genres, how='inner')
imdb_and_genres.head()

# Exploratory Data Analysis

# Conclusions

## Limitations

## Recommendations

## Next Steps